<main id="teacher">
  <div class="heading">
    <div class="col-left">
      <div class="avatar">
        <img src=<%=teacher.photo%> alt="">
      </div>
    </div>
    <div class="col-right">
      <h1><%=teacher.title%><br/><%=teacher.name%></h1>
      <h2><%=teacher.school[0].name%></h2>
      <div class="rating">
        <h3 class="rate"><span><%=rating%></span><small>/5</small></h3>
        <div class="stars">
          <%
            for(let i=1; i<=5; i++){
              if(i<=rating){
          %>
                <i class="fas fa-star"></i>
          <%
              } else if(i-rating<=1 && Math.round((rating - Math.floor(rating))*10)>=5){
          %>
                <i class="fas fa-star-half-alt"></i>
          <%
              } else {
          %>
                <i class="far fa-star"></i>
          <%
              }
            }
          %>
        </div>
        <h4 class="count">
          <span><%=rate.length%></span> nguoi danh gia
        </h4>
      </div>
    </div>
  </div>
  <div class="info">
    <%=teacher.intro%>
  </div>
  <div class="post">
    <% if(locals.user) {%>
    <form id="rate">
      <input type="hidden" name="id" value="<%=teacher.teacher_id%>">
      <div class="col-left">
        <div class="stars">
          <p>Rate:</p>
          <input type="radio" id="5star" name="rating" value="5" />
          <label title="5 star" for="5star"></label>
          <input type="radio" id="4star" name="rating" value="4" />
          <label title="4 star" for="4star"></label>
          <input type="radio" id="3star" name="rating" value="3" />
          <label title="3 star" for="3star"></label>
          <input type="radio" id="2star" name="rating" value="2" />
          <label title="2 star" for="2star"></label>
          <input type="radio" checked="true" id="1star" name="rating" value="1" />
          <label title="1 star" for="1star"></label>
        </div>
      </div>
      <div class="col-right">
        <textarea class="form-control rate-content" name="content" placeholder="Write your comment...."></textarea>
        <button class="btn rate-submit" type="submit">RATE</button>
      </div>
    </form>
    <% } else {%>
      Please log in to rate!
    <% } %>
  </div>
  <div class="comments">
    <div class="comment top">
      <div class="col-left">
      </div>
      <div class="col-right">
        <div class="top"><span><i class="fas fa-star"></i> Useful comment</span></div>
      </div>
    </div>
    <%
      rate.map(comment => {
        const {like, dislike} = comment.react.reduce((total, i) => {
          return total = {
            like: (i.react ? total.like+1 : total.like),
            dislike: (!i.react ? total.dislike+1 : total.dislike),
          }
        }, {like: 0, dislike: 0});
    %>
      <div class="comment">
        <div class="col-left">
          <div class="stars">
            <% for(let i=1;i<=5;i++) {
              if(i<=comment.rating) {
            %>
              <i class="fas fa-star"></i>
            <%
              } else {
            %>
              <i class="far fa-star"></i>
            <% }
            }
            %>
          </div>
          <div class="react">
            <button class="btn-react btn like" data-id="<%=comment._id%>" data-react="1"><i class="fas fa-thumbs-up"></i> <span class="badge"><%=like%></span></button>
            <button class="btn-react btn dislike" data-id="<%=comment._id%>" data-react="0"><i class="fas fa-thumbs-down"></i> <span class="badge"><%=dislike%></span></button>
            <button class="btn-report btn"><i class="fas fa-flag"></i></button>
          </div>
        </div>
        <div class="col-right">
          <div class="metadata">
            <span class="author"><%=comment.user[0].name%></span>
            <span class="time">03:12 20/11/2019</span>
          </div>
          <p><%=comment.content%></p>
          <div class="replies">
            <% if(locals.user) {%>
              <p class="reply-text"><a href="javascript:void(0)" class="replyButton"><i class="fas fa-reply"></i> Reply</a></p>
            <% } else { %>
              <p class="reply-text"><span class="replyButton"><i class="fas fa-reply"></i> Reply</span></p>
            <% }
              comment.reply.map(reply => { %>
              <div class="reply">
                <div class="metadata">
                  <span class="author"><%=reply.user[0].name%></span>
                  <span class="time">03:12 20/11/2019</span>
                </div>
                <p><%=reply.content%></p>
              </div>
            <% }) %>
            <form class="reply reply-form">
              <input type="hidden" value="<%=comment._id%>" name="id"/>
              <textarea class="form-control reply-content" name="content" placeholder="Write your reply...."></textarea>
              <button class="btn reply-submit" type="submit">Reply</button>
            </form>
          </div>
        </div>
      </div>
    <%
    });
    %>
  </div>
</main>
<script src="/js/teacher.js"></script>